"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "bibhubhatta"
email = "82817444+bibhubhatta@users.noreply.github.com"

[aliases]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@"]
tug- = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]

[ui]
editor = "nvim"
# diff-formatter = ["difft", "--color=always", "$left", "$right"]
# Use delta for formatting diffs -- diff needs to be formatted in git
pager = [
  "delta",
  "--pager",
  "less -FRX",
] # See https://github.com/jj-vcs/jj/discussions/4690#discussioncomment-12072223
diff-formatter = ":git"

[fix.tools.biome]
command = ["biome", "check", "--stdin-file-path=$path", "--write"]
patterns = [
  "glob:'**/*.js'",
  "glob:'**/*.jsx'",
  "glob:'**/*.ts'",
  "glob:'**/*.tsx'",
]

[fix.tools.prettier]
command = ["prettier", "--stdin-filepath", "$path"]
patterns = [
  "glob:'**/*.json'",
  "glob:'**/*.html'",
  "glob:'**/*.md'",
  "glob:'**/*.css'",
  "glob:'**/*.yaml'",
  "glob:'**/*.yml'",
]

[fix.tools.ruff]
command = ["ruff", "format", "--stdin-filename=$path"]
patterns = ["glob:'**/*.py'", "glob:'**/*.ipynb'"]

[fix.tools.rustfmt]
command = ["rustfmt", "--emit", "stdout", "--edition", "2024"]
patterns = ["glob:'**/*.rs'"]

[fix.tools.taplo]
command = ["taplo", "fmt", "-"]
patterns = ["glob:'**/*.toml'"]
